<!--<alert type="success">hello</alert>-->
<html>
<body>
<div class="myWorld">

  <select [(ngModel)]="DBtype"
          name="DBtype">
    <option selected="selected">MySQL</option>
    <option>AS 400 DB2</option>
    <option>MSSQL</option>
    <option>H2</option>
    <option>Oracle 11g</option>
    <option>Postgres</option>
  </select>
  <p> {{DBtype}}</p>
  <hr>
  <app-as400 *ngIf="'AS 400 DB2'==DBtype"></app-as400>
  <app-oracle *ngIf="'Oracle 11g'==DBtype"></app-oracle>
  <app-h2 *ngIf="'H2'==DBtype"></app-h2>
  <app-mssql *ngIf="'MSSQL'==DBtype"></app-mssql>
  <app-postgres *ngIf="'Postgres'==DBtype"></app-postgres>
  <app-my-sql *ngIf="'MySQL'==DBtype"></app-my-sql>


</div>
</body>
</html>
